.header {
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 100%;
  position: fixed;
}
.main {
  width: 100%;
  height: 500px;
}
.menu {
  float: left;
  background-color: rgb(212, 173, 173);
  height: 200px;
  width: 20%;
  color: black;
  text-align: center;
  padding-top: 500px;
  font-size: 50px;
}
.filter {
  width: 80%;
  height: 100px;
  color: black;
  padding-top: 200px;
  background-color: aquamarine;
  float: right;
  text-align: center;
  font-size: 50px;
}
.content {
  width: 80%;
  height: 400px;
  background-color: rgb(156, 114, 98);
  color: black;
  float: right;
  text-align: center;
  font-size: 50px;
}
.footer {
  width: 100%;
  text-align: center;
  font-size: 50px;
  background-color: rgb(16, 121, 124);
  color: black;
}
